<div class="relative h-screen bg-[url('/assets/fondo/fondo.jpg')] bg-cover bg-center px-28">
    <div class="absolute inset-0 bg-black bg-opacity-70"></div>
    <div class="relative z-10 text-white py-24">
        <div class="flex">
            <div class="w-1/2 py-28">
                <h1 
                    class="font-righteous text-6xl">
                    <span class="text-greenBase">¡</span>Hola<span class="text-greenBase">!</span>
                    mi nombre es <span class="text-greenBase">German Diaz</span>.</h1>
                <hr class="py-5">
                <h2 
                    class="font-righteous text-4xl">
                    Soy desarrollador de software <span class="text-greenBase">Full-Stack</span> e 
                    <div class="bg-greenBase bg-opacity-40 px-2 rounded">Ingeniero de datos < 💻📊 /> </div></h2>
                <div>
                </div>
            </div>
            <div class="w-1/2 flex justify-center">
                <img src="/assets/images/programador.png" alt="">
            </div>
        </div>
    </div>
</div>