<div>
    <div class="relative  bg-[url('/assets/fondo/fondo.jpg')] bg-cover bg-center px-3 md:px-8 overflow-auto">
        <div class="absolute inset-0 bg-black bg-opacity-70 "></div>
        <div class="relative z-10 text-white  2xl:py-24">
            <div id="inicio" class="flex flex-col md:flex-row">
                <div class="w-full md:w-1/2 py-12 md:py-28">
                    <h1 class="font-righteous text-4xl lg:text-6xl">
                        <span class="text-greenBase">¡</span>Hola<span class="text-greenBase">!</span>
                        mi nombre es <span class="text-greenBase">German Diaz</span>.
                    </h1>
                    <hr class="py-5">
                    <h2 class="font-righteous text-2xl lg:text-4xl">
                        Soy desarrollador de software <span class="text-greenBase">Full-Stack</span> e 
                        <span class="bg-greenBase bg-opacity-40 px-2 rounded">Ingeniero de datos < 💻📊 /> </span>
                    </h2>
                </div>
                <div class="w-full md:w-1/2 flex justify-center  xl:py-0">
                    <img class="w-3/4 lg:w-full h-auto max-w-md rounded-lg object-cover" src="/assets/images/programador.png" alt="programador">
                </div>
            </div>
            <div class="py-5">
                <p class="font-Gummy text-2xl">
                    Soy un un desarrollador de software e ingeniero de datos, llevo <span class="text-greenBase">4 años</span> trabajando en la industria
                    de la tecnología, me apasiona la <span class="text-greenBase">programación</span> y el <span class="text-greenBase">analisis de datos</span>, me gusta aprender cosas nuevas.
                    Reconocido por proporcionar ideas innovadoras y soluciones efectivas para problemas complejos.
                </p>
            </div>
        </div>
    </div>
    <div class="px-3 bg-greenBg text-white h-screen">
        Holaa
    </div>
</div>
