<div>
    <div class="relative  bg-[url('/assets/fondo/fondo.jpg')] bg-cover bg-center px-3 md:px-8 overflow-auto">
        <div class="absolute inset-0 bg-black bg-opacity-70 "></div>
        <div class="relative z-10 text-white  2xl:py-24">
            <div id="inicio" class="flex flex-col md:flex-row">
                <div class="w-full md:w-1/2 py-12 md:py-28">
                    <h1 class="font-righteous text-4xl lg:text-6xl">
                        <span class="text-greenBase">¡</span>Hola<span class="text-greenBase">!</span>
                        mi nombre es <span class="text-greenBase">German Diaz</span>.
                    </h1>
                    <hr class="border-0 h-1 bg-greenBase shadow-md shadow-greenBase rounded-xl animate-glow">
                    <h2 class="font-righteous text-2xl lg:text-4xl py-5">
                        Soy desarrollador de software <span class="text-greenBase">Full-Stack</span> e 
                        <span class="bg-greenBase bg-opacity-40 px-2 rounded">Ingeniero de datos < 💻📊 /> </span>
                    </h2>
                </div>
                <div class="w-full md:w-1/2 flex justify-center  xl:py-0">
                    <img class="w-3/4 lg:w-full h-auto max-w-md rounded-lg object-cover" src="/assets/images/programador.png" alt="programador">
                </div>
            </div>
            <div class="py-5">
                <p class="font-Gummy text-2xl">
                    Soy un un desarrollador de software e ingeniero de datos, llevo <span class="text-greenBase">4 años</span> trabajando en la industria
                    de la tecnología, me apasiona la <span class="text-greenBase">programación</span> y el <span class="text-greenBase">analisis de datos</span>, me gusta aprender cosas nuevas.
                    Reconocido por proporcionar ideas innovadoras y soluciones efectivas para problemas complejos.
                </p>
            </div>
        </div>
    </div>
    <div class="px-3 bg-greenBg text-white">
        <div class="w-full flex justify-center py-8 text-3xl sm:text-4xl  lg:text-6xl">
            <div class=" p-3 border-4 border-greenBase rounded-lg shadow-lg shadow-greenBase animate-glow">
                <h1 class="font-orbitron">HABILIDADES</h1>
                <hr class="border-greenBase">
            </div>
        </div>
        <div id="grid-skills" class="px-3 py-8 bg-greenBg text-white font-orbitron">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
                <div 
                    class="flex items-center justify-center p-4 rounded-lg shadow-lg border-4 border-greenBase shadow-greenBase animate-glow">JavaScript</div>
                <div class="flex items-center justify-center p-4 rounded-lg shadow-lg border-4 border-greenBase shadow-greenBase animate-glow">Angular</div>
                <div class="flex items-center justify-center p-4 rounded-lg shadow-lg border-4 border-greenBase shadow-greenBase animate-glow">React</div>
                <div class="flex items-center justify-center p-4 rounded-lg shadow-lg border-4 border-greenBase shadow-greenBase animate-glow">Sql (databases)</div>
                <div class="flex items-center justify-center p-4 rounded-lg shadow-lg border-4 border-greenBase shadow-greenBase animate-glow">python</div>
                <div class="flex items-center justify-center p-4 rounded-lg shadow-lg border-4 border-greenBase shadow-greenBase animate-glow">Ingenieria DB</div>
                <div class="flex items-center justify-center p-4 rounded-lg shadow-lg border-4 border-greenBase shadow-greenBase animate-glow">Git</div>
                <div class="flex items-center justify-center p-4 rounded-lg shadow-lg border-4 border-greenBase shadow-greenBase animate-glow">Linux</div>
            </div>
        </div>
        <div class="w-full flex justify-center py-8 text-3xl sm:text-4xl  lg:text-6xl">
            <div class=" p-3 border-4 border-greenBase rounded-lg shadow-lg shadow-greenBase animate-glow">
                <h1 class="font-orbitron">CONOCEME</h1>
                <hr class="border-greenBase">
            </div>
        </div>
        <div class="py-5 md:px-20 lg:px-40 xl:px-80">
            <p class="font-Gummy text-2xl text-center">
                Como apacionado por la tecnologia me he interesado desde muy joven por el desarrollo de software, lo que ha
                llevado a que me forme en diferentes tecnologias y lenguajes de programacion de manera solida. <br>
                Empece a trabajar como <span class="text-greenBase">Analista de datos</span> y desarrollador <span class="text-greenBase">React</span>, posteriormente como <span class="text-greenBase">Ingeniero de datos</span> y <span class="text-greenBase">Desarrollador Angular</span>.
                Esto me ha llevado a tener un conocimiento amplio en el desarrollo de software y el analisis de datos. <br>
                Estudie <span class="text-greenBase">Analisis y desarrollo de sistemas de informacion</span> en el SENA, Hice una titulacion en desarrollo <span class="text-greenBase">Full-Stack</span> en una academia mexicana, 
                y actualmente me encuentro terminando mi carrera universitaria de <span class="text-greenBase">Ingenieria de sistemas</span>. <br>
                <span class="font-bold">Si buscas a alguien con habilidades técnicas avanzadas y pasión por la tecnología, ¡conectemos y llevemos tus proyectos al siguiente nivel!</span>
            </p>
        </div>
    </div>
</div>
